*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
#title{
  width: 100%;
  height: 100vh;
  background: url(/image/photo-title.jpg) fixed top center;
  background-size: cover;
  position: relative;
}
#title:before{
  content: "";
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#title .container{
  position: relative;
  padding-top: 56px;
}
#title h1{
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  color:#fff
  
}
#title h2{
  margin: 10px 0 0 0 ;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  color:#fff;
  
}



.recipes{
  padding: 30px;
  
} 

.recipes .recipes__themselves{
  
  overflow: hidden;
  border-radius: 5px;
  
}
.recipes .recipes__themselves{
  transition: ease-in-out 0.3s;
}
.recipes .recipes__themselves:hover{
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.recipes__themselves-image{
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;

}
.recipes .recipes__themselves .recipes__themselves-name{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.recipes .recipes__themselves a{
  color:black;
  text-decoration: none;
}



















